list and its default functions

In [118]:
lst = ["saraiah","ramesh"]
print(lst)
lst.append("suresh")
print(lst)

['saraiah', 'ramesh']
['saraiah', 'ramesh', 'suresh']

In [119]:
lst.reverse()
print(lst)

['suresh', 'ramesh', 'saraiah']

In [120]:
lst.index("ramesh")

1

In [121]:
lst.count("suresh")

1

In [122]:
lst.pop() 
print(lst)

['suresh', 'ramesh']

In [123]:
print(lst)
lst.clear()
print(lst)

['suresh', 'ramesh']
[]

Dictionary and its default functions

In [124]:
dit = {"name" : "suresh" , "age" : 20}
print(dit)
dit.values()

{'name': 'suresh', 'age': 20}

dict_values(['suresh', 20])

In [125]:
dit.keys()

dict_keys(['name', 'age'])

In [126]:
dit.items()

dict_items([('name', 'suresh'), ('age', 20)])

In [127]:
dit.get("age")

20

In [128]:
 dit["age"]=25   #to change the value
dit

{'name': 'suresh', 'age': 25}

In [129]:
for x in dit:
    print(dit[x])

suresh
25

In [130]:
print(len(dit))

2

sets and its default functions

In [131]:
st = {'apples','bananas'}
print(st)
st.add('mango')
st

{'bananas', 'apples'}

{'apples', 'bananas', 'mango'}

In [132]:
st2={'grapes','mango'}
st2.union(st)

{'apples', 'bananas', 'grapes', 'mango'}

In [133]:
st2.intersection(st)

{'mango'}

In [134]:
st2.isdisjoint(st)

False

In [135]:
st.remove('apples')
st

{'bananas', 'mango'}

In [136]:
st.difference(st2)

{'bananas'}

Tuples and its default functions

In [137]:
tp = ("buses","cars")
print(tp)

('buses', 'cars')

In [138]:
tp.count("cars")  # it gives number of times that value occurs

1

In [139]:
tp[-1]

'cars'

In [140]:
len(tp)

2

In [141]:
tp.index("buses")  # it gives position where it is found

0

In [142]:
tp2 =  ("autos","trucks")
tp3=tp+tp2
tp3

('buses', 'cars', 'autos', 'trucks')

In [143]:
if "cars" in tp3:
    print("yes , cars are there ")

yes , cars are there

Strings and its default functions

In [144]:
a="suresh"
print(a)

suresh

In [145]:
len(a)

6

In [146]:
a.count("s")

2

In [147]:
a.upper()

'SURESH'

In [148]:
b ="bandi"
c=a+" "+b
print(c)

suresh bandi

In [149]:
c.split()

['suresh', 'bandi']

In [150]:
c.rsplit("s")

['', 'ure', 'h bandi']